<img src="<%= image_path("bg.png")%>" style="width:100% ; position: fixed;"/>
<div class="modal-dialog" style="top: 50%; position: fixed; left: 50%; transform: translate(-50%, -65%);">
		<p id="title" style="text-align:left;font-family: 'Amatic SC', cursive; font-size: 30px; font-weight: 300; color: #FFFFFF;">Waiting for event...</p>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<p id="time" style="text-align:center;font-family: 'Amatic SC', cursive; font-size: 70px; color: #000000;margin:20px;"></p>
					</br>
					<table class="table table-hover">
					  <tr>
					  <th>Name</th>
					  <td>:</td>
					  <td><%= @event.name %></td>
					  </tr>
					  <tr>
					  <th>Description</th>
					  <td>:</td>
					  <td><%= @event.description %></td>
					  </tr>
					  <tr>
					  <th>Location</th>
					  <td>:</td>
					  <td><%= @event.location %></td>
					  </tr>
					</table>
					</br>
					<table class="table table-hover">
					  <tr>
					  <th>Name</th>
					  <th>Contact</th>
					  </tr>
					  <tr>
					  <td><%= @event.jio.name %></td>
					  <td><%= @event.jio.contact_number %></td>
					  </tr>
						<% @event.jios.each do |jio| %>
					  <tr>
					  <td><%= jio.name %></td>
					  <td><%= jio.contact_number %></td>
					  </tr>
						<% end %>
					</table>
					</br>
				</div>
			</div>
		</div>
		
		<div class="icon">
			<img src="<%= image_path("joiw.png")%>" style="width:12%; "/>
		</div>
		
		<div class="footer">
			<p>
				InstantVite | FutureHacks 2018
			</p>
		</div>

		<script>
		// Set the date we're counting down to
			var quote = "<%= x = @event.created_at+@event.timelimit.minutes %>";
		var countDownDate = new Date(quote).getTime();

		// Update the count down every 1 second
		var x = setInterval(function() {

			// Get todays date and time
			var now = new Date().getTime();

			// Find the distance between now an the count down date
			var distance = countDownDate - now;

			// Time calculations for days, hours, minutes and seconds
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			// Display the result in the element with id="demo"
			document.getElementById("time").innerHTML = minutes + "m " + seconds + "s ";

			// If the count down is finished, write some text 
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("time").innerHTML = "Time's Up";
				document.getElementById("title").innerHTML = "Event Started/ Ended";
			}
		}, 1000);
		</script>