<%= form_with(model: jio, local: true) do |form| %>
  <% if jio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jio.errors.count, "error") %> prohibited this jio from being saved:</h2>

      <ul>
      <% jio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
